<div class="row mb-2">
    <div class="col-md-11 col-sm-6 col-10 .offset-3">
        <input placeholder="Product Desc" #product 
        name="productDesc" class="form-control" 
        [(ngModel)]="productDesc" type="text">
    </div>
    <div class="col-md-1 col-sm-6 col-2">
        <span ngClass="fa fa-plus" (click)="addProduct()"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12 .offset-3">
        <ul class="list-group">
            <li class="list-group-item mb-2 product-list" 
            *ngFor="let product of productList"
             >
                <div class="row">
                    <div class="col-md-11 col-10">
                        {{product}}
                    </div>
                    <div class="col-md-1 col-1">
                        <span class="fa fa-times delete" (click)="removeProduct(i)"></span>
                    </div>
                    <div class="col-md-6 col-12">
                        <app-rating></app-rating>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>